<div *ngIf="ship" class="ship-card">
  <button class="edit" *ngIf="!isEditMode" (click)="edit()">EDIT</button>
  <button class="save" *ngIf="isEditMode" (click)="save()">SAVE</button>
  <button class="cancel" *ngIf="isEditMode" (click)="cancel()">CANCEL</button>
  <div class="content">
    <div class="bottom">
      <input class="title" [disabled]="!isEditMode" [(ngModel)]="ship.name"/>
      <textarea class="description" [disabled]="!isEditMode" [(ngModel)]="ship.description"></textarea>
    </div>
    <div class="physics">
      <info-capsule [disabled]="true" icon="./assets/races/{{ship.race|lowercase}}.png" title="race" [(value)]="ship.race" [availableValues]="racesList"></info-capsule>
      <info-capsule [disabled]="true" title="group" value="{{ship.group}}"></info-capsule>
      <info-capsule [disabled]="!isEditMode" icon="./assets/phisics/volume.jpg" title="volume" [(value)]="ship.volume" units="m³"></info-capsule>
      <info-capsule [disabled]="!isEditMode" units="m³" icon="./assets/phisics/capacity.jpg" title="capacity" [(value)]="ship.capacity"></info-capsule>
      <info-capsule [disabled]="!isEditMode" units="kg" icon="./assets/phisics/mass.jpg" title="mass" [(value)]="ship.mass"></info-capsule>
      <info-capsule [disabled]="true"  icon="./assets/phisics/version.jpg" title="version" value="{{ship.meta_group_name}}"></info-capsule>
    </div>
  </div>
  <img *ngIf="ship.name" src="https://evecyclopedia.herokuapp.com/api/ships/{{ship.name}}/image" class="image" alt="spaceship image" width="512px" height="512px"/>
</div>
<div *ngIf="ship==='loading'" class="ship-card">
  <h2>Loading spaceship data...</h2>
</div>
