
.info-capsule{
  width: 300px;
  display: inline-block;
  margin: 2px;

  height: 36px;
  line-height: 12px;
  font-size: 12px;
 
  border: 2px solid #FFCF3A;
  border-radius: 10px;
  background: #FFCF3A;
  color: #333;

  img{
    vertical-align:middle;
  }
  span{
    vertical-align: middle;
  }
  input{
    width: auto;
    border:none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: #202020;
    background: rgba(250,250,250,0.8);
  }
  input[disabled]{
    background: none;
  }

  select{
    font-family: inherit;
    font-size: inherit;
    color: #202020;
    border: 1px solid #202020;
    border-radius: 0;
    background: rgba(250,250,250,0.8);


  }
  select[disabled]{
    opacity: 1;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  .text-align-right{
    text-align: right;
  }

  .title{
    padding-left: 6px;
    font-weight: bold;
    text-transform: uppercase;
  }
}