<div class="title" ></div>
<div class="item">
    <div class="label">Group:</div>
    <select>
    <option></option>
</select>
</div>
<div class="item">
    <div class="label">Race:</div>
    <select>
    <option></option>
</select>
</div>
<div class="item">
    <div class="label">Name:</div>
    <input type="text"  />
</div>
<div class="item">
    <div class="label">Description:</div>
    <input type="text"  />
</div>
<div class="item">
    <div class="label">Volume:</div>
    <input type="number"  />
</div>
<div class="item">
    <div class="label">Capacity:</div>
    <input type="number" />
</div>
<div class="item">
    <div class="label">Mass:</div>
    <input type="number"  />
</div>
<button >CANCEL</button>
<button >SAVE</button>