<div class="ship-card">
  <div class="content">
    <div class="bottom">
      <div class="title">
        <h2>{{ship.name}}</h2>
      </div>
      <div class="description">
        {{ship.description}}
      </div>
      <div class="physics">
        <info-capsule title="race" value="{{ship.race}}"></info-capsule>
        <info-capsule title="group" value="{{ship.group}}"></info-capsule>
        <info-capsule title="volume" value="{{ship.volume}} m³"></info-capsule>
        <info-capsule title="capacity" value="{{ship.capacity}} m³"></info-capsule>
        <info-capsule title="mass" value="{{ship.mass}} kg"></info-capsule>
        <info-capsule title="version" value="{{ship.meta_group_name}}"></info-capsule>
      </div>
    </div>
  </div>
  <img src="./assets/ship1.jpg" class="image" alt="blaaa" width="512px" height="512px"/>
</div>
