<h1>News</h1>

<ul>
  <li>
    <h4>o7 Holiday show on Dec 18 - The highlights</h4>
    <p>2016-12-21 13:21 By CCP Phantom</p>
    <div>Tweet Check out the highlights of the brand new o7 show first aired on Sunday, December 18! If you have missed the show,
      you can watch it now here or at CCP's YouTube channel:
    </div>
  </li>
  <li>
    <h4>Celebrate the Yoiul Festival and enjoy another gift in EVE Online - 300 free AUR</h4>
    <p>15:32 By CCP Phantom</p>
    <div>Tweet We're delighted to reveal another Yoiul Festival gift! Everyone who was logged into EVE Online on December 19th
      at any point between 00:00:01 and 23:59:59 UTC has now received 300 free Aurum.
    </div>
  </li>
  <li>

    <h4>New Apparel available in the New Eden Store: Berets and Caps</h4>
    <p>016-12-20 12:20 By CCP Phantom</p>
    <div>Celebrate the winter season and enjoy the latest addition to the New Eden Store: berets and caps for your avatar!</div>
  </li>
</ul>