.left-menu{
  width: 300px;
  height: 100vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 1) 100%);

  .title{
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
