.header{
  height: 30px;
  padding: 20px;
  .title{
    display:inline-block;
    font-size: 28px;
    font-weight: bold;
  }

  a{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    padding: 20px;
    cursor: pointer;
    outline:none;
    border: none;
    background: none;
    font-size: 14px;
    display:inline-block;
    cursor: pointer;
    &:hover{
      color: #FFCF3A;
      border-bottom: 1px solid #FFCF3A;
    }
  }
}
.container{
  display: flex;
}
tree-view{
  flex: 0 0 300px;
}
.container > ship-details{
  flex: 1;
  padding-top: 50px;
}

