<div class="info-capsule">
    <img height="36px" width="36px" src="{{icon}}" alt=""/>
    <span class="title">{{title}}</span>
    <input *ngIf="!availableValues" [ngClass]="{'text-align-right': units}" class="text" [value]="value" #info (change)="onValueChange(info.value)" [disabled]="disabled" />
    <select *ngIf="availableValues" class="text"
            #info [value]="value" (change)="onValueChange(info.value)" 
            [disabled]="disabled">
            <option attr.value="{{option}}" *ngFor="let option of availableValues;">{{option}}</option>
    </select>
    <span *ngIf="units">{{units}}</span>
</div>